.well{
    border: 1px solid #b3b7bb ;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #888888;
    background:rgba(240,255,255,0.6);
    height: 400px;
    width: 300px;
    padding: 15px;
    margin: 0px;
}
.input-group{
	margin: 10px 0px;
}
