<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <!-- 配置Spring的监听器,默认只加载WEB-INF目录下的applicationContext.xml -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--  设置配置文件的路径-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <!-- 配置解决中文乱码的过滤器 配置时要放servlet前面，否则会有约束顺序错误 -->
  <filter>
    <filter-name>characterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <!-- 初始化参数 设置编码,一律用utf-8-->
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <!--  过滤器映射-->
  <filter-mapping>
    <filter-name>characterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 配置前端控制器 -->
  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <!-- 配置全局初始化参数 -->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <!--      加载classpath路径下的配置文件-->
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
    <!--    在服务器启动的时候就加载这个servlet;
            值越小,servlet的优先级越高，就越先被加载;
            负数或者没有设置，则容器会当Servlet被请求时再加载-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <!--  控制器映射-->
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
